<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ninja Gold</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename ='index_styles.css') }}">
  </head>
  <body>
    <p>Your gold: {{session['gold']}}</p>

    <form action="/process" class="box" method="post">
      <h1>Farm</h1>
      <h3>(earns 10-20 gold)</h3>
      <input type="hidden" name="building" value="farm">
      <input type="submit" value="Find Gold!">
    </form>

    <form action="/process" class="box" method="post">
      <h1>Cave</h1>
      <h3>(earns 5-10 gold)</h3>
      <input type="hidden" name="building" value="cave">
      <input type="submit" value="Find Gold!">
    </form>

    <form action="/process" class="box" method="post">
      <h1>House</h1>
      <h3>(earns 2-5 gold)</h3>
      <input type="hidden" name="building" value="house">
      <input type="submit" value="Find Gold!">
    </form>

    <form action="/process" class="box" method="post">
      <h1>Casino</h1>
      <h3>(earn/lose 0-50 gold)</h3>
      <input type="hidden" name="building" value="casino">
      <input type="submit" value="Find Gold!">
    </form>

      <p>Activity log:</p>

      <div id="activities_log">
      {% for activity in session['activities'] %}
        <h2 class="{{activity['class']}}">{{activity['activity']}}</h2>
      {% endfor %}
      </div>

    <form action="/reset" method="POST">
      <input type="submit" value="Reset" />
    </form>
  </body>
</html>
