*{

}
#container{
	width: 600px;
	height: 300px;
	background-color: black;
	text-align: center;
}
	h1{
		color: white;
	}
	p{
		color: white;
		margin-bottom: 20px;
		}
	.red{
		color: red;
		font-weight: bold;
	}
	.green{
		color: green;
		font-weight: bold;
	}
	form{
		margin-bottom: 20px;
	}
