<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hamburglar Bank, inc</title>
  </head>
  <body>
    <h1>Hamburglar Bank, inc</h1>
    <form name="login" action="/login" method="POST">
      <label for="user_name">Username:</label>
      <input type="text" name="user_name" /><br />
      <label for="password">Password:</label>
      <input type="password" name="password" /><br />
      <input type="submit" value="Login" /><br />
      <a href="/registration">Don't have an account? Register here!</a>
    </form>
  </body>
</html>
