<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Ninja Science!</title>
		<meta name="Ninja Lore" content="Lorem ipsum">
	</head>
	<body>
		<h1>So you want to be a NINJA?</h1>
    <p>A ninja (忍者?) or shinobi (忍び?) was a covert agent or mercenary
      in feudal Japan. The functions of the ninja included espionage,
      sabotage, infiltration, assassination and guerrilla warfare.
      Their covert methods of waging irregular warfare were deemed
      "dishonorable" and "beneath" the samurai-caste, who observed
      strict rules about honor and combat. The shinobi proper, a
      specially trained group of spies and mercenaries, appeared in
      the Sengoku or "warring states" period, in the 15th century,
      but antecedents may have existed in the 14th century, and \
      possibly in the 12th century (Heian or early Kamakura era).</p>
	</body>
</html>
