*{
  margin: 0px;
  padding: 0px;
}
#container{
  border: 1px solid black;
  width: 300px;
  margin: 10px 0px 0px 10px;
  padding: 10px 0px 0px 10px;
}
  p{
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 20px;
  }
  input{
    display: inline-block;
  }
  textarea{
    display: block;
    width: 250px;
    margin-left: 00px;
    height: 100px
  }
