*{
  margin: 0px;
  padding: 0px;
}
  #container{
    border: 1px solid black;
    margin: 20px 0px 0px 20px;
    width: 400px;
  }
  p{
    display: inline-block;
  }
  #name, #location, #language, #comment{
    margin: 10px 0px 10px 20px;
  }
