<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Email Validation</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename ='index_styles.css') }}">
  </head>

  <body>
    <!-- Displays flash messages if there is an email validation error -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages: %}
          <h3>{{message}}</h3>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <!-- Form to submit email address -->
    <form name="email" action="/validate" method="POST">
        <label for="email">Email Address:</label>
        <input type="text" name="email" /><br />
        <input type="submit" value="Submit" />
    </form>

    <!-- Lists emails from database using for loop -->
    <h4>Email addresses entered:</h4>
    {% for email in emails %}
    <P>
      Email: {{email.name}}
    </P>
    <form name="delete" data-id={{email.id}} action="/delete/{{email.id}}" method="POST">
      <input type="submit" value="Delete" />
    </form>
    {% endfor %}

  </body>

</html>
