<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Great Number Game</title>
		<meta name="description" content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename ='index_styles.css') }}">
	</head>
	<body>
		<div id="container">
			<h1>Welcome to the Great Number Game!</h1>
			<p>I am thinking of a number between 1 and 100</p>
			<p>Take a guess!</p>
			<div class = '{{data["color"]}}'>You guessed: {{session['guess']}} {{data['event']}} </div>
			<div class = {{data["color"]}}>{{data['again']}}</div>
			<form action="/guess" method="POST">
				<input type="text" name=guess>
				<input type="submit" name="submit">
			</form>
			<form action="/reset" method="POST">
				<input type="submit" value="Reset" />
			</form>
		</div>
	</body>
</html>
